$color-white: #FFFFFF;
$color-offwhite: #F4F4F9;
$color-dark-grey: #A0A1B9;
$color-grey: #C0C0D0;
$color-darkest: rgba(0, 0, 0, 0.55);
$color-darker: #171724;
$color-dark: #43434F;
$color-light-grey: #ECECF3;
